@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #dee1ef;
  --background: #0c0e17;
  --primary: #9fa5d0;
  --secondary: #212a56;
  --secondary20: #101323;
  --accent: #c0f12a;
}
